:root {
    --primary-color: white;
    --border-color: black;
    --tile-color: white;
    --tile-size: min(20svw, 20svh);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 2.5rem;
    height: 100svh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.game-results {
    text-align: center;
}

.board-container {
    grid-column: 2;
    display: flex;
    background-color: var(--primary-color);
    flex-wrap: wrap; /* allows align-content */
    justify-content: center;
    align-content: center;
}

.game-board {
    height: 100%;
    background-color: var(--border-color);
    display: grid;
    grid-template-columns: repeat(3, var(--tile-size));
    grid-template-rows: repeat(3, var(--tile-size));
    gap: max(1px, .5svh);
}

.game-tile {
    font-size: var(--tile-size);
    background-color: var(--tile-color);
    display: grid;
    place-content: center;
}

.player-ui {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 2rem;
    place-items: center;
}