:root {
    --primary-color: white;
    --secondary-color: lightgrey;
    --gridline-color: black;
    --gridline-width: max(1px, .5svh);
    --tile-color: white;
    --tile-size: min(17svw, 17svh);
    --board-size: calc(
        calc(var(--tile-size) * 3) + 
        calc(var(--gridline-width) * 2)
    );
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 2.5rem;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.game-results {
    width: 40svw;
    padding: 2svw;
    background-color: var(--secondary-color);
    border-radius: 16px;
    text-align: center;
}

.board-container {
    position: relative;
    width: var(--board-size);
    display: flex;
    background-color: var(--primary-color);
    justify-content: center;
}

.game-board {
    height: 100%;
    background-color: var(--gridline-color);
    border-radius: 5%;
    display: grid;
    grid-template-columns: repeat(3, var(--tile-size));
    grid-template-rows: repeat(3, var(--tile-size));
    gap: var(--gridline-width);
}

.game-tile {
    font-size: var(--tile-size);
    background-color: var(--tile-color);
    border-radius: 5%;
    display: grid;
    place-content: center;
}

.board-border {
    position: absolute;
    height: 100%;
    width: 100%;
    border: max(2px, 1svh) solid var(--secondary-color);
    border-radius: 5%;
}

.player-ui {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-items: flex-start;
    align-items: center;
}

form {
    flex: auto;
    padding: 2rem;
    min-width: min-content;
    max-width: min(33svw, 350px);
    background-color: var(--secondary-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.btn-container {
    margin: auto;
    flex: auto;
    display: flex;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    font: inherit;
    margin-top: .5rem;
    padding: .5em 1.5em;
    background-color: var(--primary-color);
    border: none;
    border-radius: 6px;
    align-self: center;
    justify-self: center;
}

.start-btn {
    font-size: 1.25rem;
    margin-top: 0;
    background-color: var(--secondary-color);
}

.highlight {
    outline: solid max(1px, .333svh) yellow;
}